html {
    background: #018DED;
    text-align: center;
    font-size: 10px;
}

body {
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

h1 {
    position: absolute;
    float: right;
    font-style: italic;
    font-size: 64px;
    text-align: center;
}

.clock {
    align-items: center;
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
}

.hand {
    height: 5px;
    background: black;
    position: absolute;
    top: 50.5%;
    right: 50%;
    transform-origin: 100%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
    width: 90px;
    background: #474A2C;
    transform: rotate(120deg);
}

.min-hand {
    width: 120px;
    background: #636940;
    transform: rotate(360deg);
}

.second-hand {
    width: 150px;
    background: #59A96A;
    transform: rotate(180deg);
}