:root {
    --base: #ffc600;
    --spacing: 50px;
    --blur: 5px;
}

body {
    text-align: center;
}

body {
    background: #193549;
    color: white;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}

.main-img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}